include "binds.kdl"

input {
    keyboard {
        xkb {
            layout "se"
            options "caps:escape"
        }
        repeat-delay 250    
        repeat-rate 35
    }
    touchpad {
        tap
        dwt
        drag true
        natural-scroll
    }
    mouse {}
    trackpoint {}

    warp-mouse-to-focus
    focus-follows-mouse
}

output "eDP-1" {
    scale 1
    transform "normal"
    position x=1280 y=0
}
layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    struts {}
}

spawn-sh-at-startup "swaybg -i ~/Downloads/bg.webp -m fill" // Perhaps this is stupid
spawn-at-startup "waybar"
spawn-sh-at-startup "dunst --startup_notification"
prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20

    hide-when-typing
    hide-after-inactive-ms 5000 
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    off
}

window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"librewolf$"#
    open-maximized-to-edges true
}
window-rule {
    match app-id=r#"pavucontrol$"# 
    open-floating true
}

