* {
    font-family: "SauceCodePro NF Medium";
    font-size: 12pt;
}

window {
    background: none;
}

#taskbar button,
#workspaces button {
	color: #6E6A86;
    padding: 0px;
    padding-left: 0.15em;
    padding-right: 0.15em;
}

#taskbar button.active,
#workspaces button.active {
	color: #ffffff;
}

#taskbar button:hover,
#workspaces button:hover{
	color: #ffffff;
    background: none;
}

#workspaces button.focused {
	color: #ffffff;
}

#battery,
#clock,
#keyboard-state,
#mode,
#network,
#power-profiles-daemon,
#tray,
#window,
#idle_inhibitor,
#wireplumber,
#workspaces {
	color: #ffffff;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-right: 0.8em;
	padding-left: 0.8em;

}
